@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "SF Pro", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.button {
  @apply bg-primary px-4 py-2 rounded text-btn-text;
}
